<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>org.elasticsearch:elasticsearch-river-cassandra</include>
                <include>org.apache.cassandra:cassandra-all</include>
                <include>org.apache.cassandra:cassandra-thrift</include>
                <include>org.apache.thrift:libthrift</include>
                <include>com.google.guava:guava</include>
                <include>commons-lang:commons-lang</include>
                <include>commons-pool:*</include>
                <include>org.hectorclient:hector-core</include>
                <include>org.apache.httpcomponents:*</include>
                <include>com.fasterxml.jackson.core:*</include>
                <include>org.slf4j:*</include>
            </includes>
        </dependencySet>
    </dependencySets>
</assembly>